
<div class="show_box">
<h2>Book detail</h2>

	<p><%= @book.title %></p>
	<p><%= @book.body %></p>
	<% if @book.user == current_user %>
		<%= link_to "Edit", edit_book_path %>
		<%= link_to "Destroy", destroy_book_path(@book), method: :delete %>
	<% end %>

</div>